
.registration .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.registration .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.registration .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.registration .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.registration .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.registration .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}